# WhatsApp Web JS (sessões)
whatsapp/server_whatsapp/.wwebjs_auth/
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Puppeteer / Chromium
.local-chromium/
**/.local-chromium/
**/chrome-linux/

# WhatsApp Web JS
.wwebjs_auth/

# Python
__pycache__/
venv/
.env

# OS
.DS_Store
